@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap');

:root {
	--primary-color: #872d62;
	--second-color: #a95486;
	--light-color: #cb87af;
	--dark-color: #651142;
	--right: #459331;
	--wrong: #c8cc65;
	--empty: var(--second-color);
	--row-hover: hsl(325, 60%, 50%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: var(--primary-color);
	font-family: 'Baloo 2', sans-serif;
	font-weight: 700;
	
	* {
		font-family: 'Baloo 2', sans-serif;
	}
}

.header {
	height: 8vh;
	display: grid;
	place-items: center;
	grid-template-columns: repeat(3, 1fr);
	color: white;
	background-color: #651142;
	align-content: center;

	h1 {
		display: flex;
		align-items: center;
		grid-column: 2;
		text-align: center;
		font-size: 2.5rem;
	}

	.navigationMenu {
		display: flex;
		justify-content: space-evenly;
		gap: 10px;
	}
}

a.menu {
	display: inline-block;
	width: 120px;
	text-align: center;
	background-color: #651142;
	text-decoration: none;
	color: #fff;
	border-radius: 1rem;
}

.block {
	display: grid;
	flex: 1;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	align-items: center;
	margin: 40px auto;
	width: 700px;

	.logo {
		display: flex;
		align-items: center;
	}

	img {
		width: 300px;
		height: 300px;
	}

	.menuHomePage {
		display: flex;
		width: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		a {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 50%;
			height: 65px;
			padding: 10px 15px;
			border-radius: 4px;
			font-size: 1.8rem;
			border-radius: 1rem;

			&:hover {
				border-color: var(--light-color);
				border-style: solid;
			}
		}

		a:last-child {
			margin-top: 40px;
		}
	}
}
