:root {
	--primary-color: #872d62;
	--second-color: #a95486;
	--light-color: #cb87af;
	--dark-color: #651142;
	--correct-letter: #459331;
	--wrongPosition-letter: #c8cc65;
	--empty-letter:  #a95486;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: var(--primary-color);
}

.header{
	height: 8vh;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white; 
	background-color: #651142;

	h1 { font-size: 24px }
}

.menu {
	display: inline-block;
	width: 120px;
	text-align: center;
	background-color: #651142;
	text-decoration: none;
	color: #fff;
}

.block{
	display: grid;
	flex: 1;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	align-items: center;
	margin: 40px auto;
	width: 700px;

	.logo {
		display: flex;
		align-items: center;
	}

	img {
		width: 300px;
		height: 300px;
	}
	
	.menuHomePage {
		display: flex;
		width: 100%;
		flex-direction: column;
		justify-content: center;

		a {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 50%;
			height: 65px;
			padding: 10px 15px;
			border-radius: 4px;
			font-size: 1.8rem;

			&:hover {
				border-color: var(--light-color);
				border-style: solid;
				border-radius: 4px;		
			}
		}

		a:last-child {
			margin-top: 40px;
		}
	}
} 

.game-instructions {
	background-color: var(--light-color); 
	border: 1px solid var(--light-color); 
	border-radius: 10px; 
	padding: 20px; 
	max-width: 600px; 
	margin: 40px auto;
	box-shadow: 0 2px 4px var(--dark-color); 
	text-align: center;

	h3 + p {
		margin-top: 20px;
	}

	p {
		margin: 5px 0; 
	}

	p + p {
		margin-top: 20px;
	}
}

.sobre {
	max-width: 30%;
	height: auto;
	margin: 20px auto;
}

.sobre-icon {
	width: 6%;
	height: auto;
	vertical-align: middle;
}

.developers {
	text-align: center;
	margin: 40px 0;
}

.developer-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

.developer {
	text-align: center;
	max-width: 200px;

	img {
		width: 150px; 
		height: auto;
	}
}

.institution {
	text-align: center;
	margin-top: 40px;

	img {
		max-width: 15%;
		height: auto;
	}
}

.font1{
  color: white;
  font-family: arial;

}
