:root {
	--primary-color: #872d62;
	--second-color: rgb(169, 84, 134);
	--second-color-rgb: 169, 84, 134;
	--light-color: #cb87af;
	--dark-color: #651142;
	--right: #459331;
	--wrong: #c8cc65;
	--empty:  var(--second-color);
	--row-hover:  hsl(325, 60%, 50%);
}

.header {

	h1 {
		grid-column: 2;
		display: flex;
		justify-content: center;
	}
}

.navigationMenu a {
	text-decoration: none;
	border: 1px solid #872d72;
	padding: 9px;
	width: 120px;
	font-size: 16px;
	border-radius: 1rem;

	&:hover {
		background-color: var(--second-color);
		transition: 1s;
	}
}

#game {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 20px;
}

.tableGame {
	td {
		font-size: 30px;
		color: white;
	}

	td.cell {
		/* border-style: solid;   */
		text-align: center;
		font-weight: bold;
		vertical-align: center;
		height: 50px;
		width: 50px;
	}
}

.characterEmpty,
.key.characterEmpty {
	background-color: var(--empty-letter);
	border-color: var(--empty-letter);
}

.characterCorrect,
.key.characterCorrect {
	background: var(--correct-letter);
	border-color: var(--correct-letter);
}

.characterWrongPosition,
.key.characterWrongPositio {
	background: var(--wrongPosition-letter);
	border-color: var(--wrongPosition-letter);
}

.tabelaJogo {
	border-collapse: collapse;
	width: 100%;
}

.cell {
	border: 1px solid white;
	text-align: center;
	padding: 5px;
}

.cellInput {
	background-color: transparent;
	width: 100%;
	height: 100%;
	border: none;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	box-sizing: border-box;
	outline: none;
	color: white;
	text-transform: uppercase;
}

.cellInput:focus {
	background-color: var(--second-color);
}

.congratsMessage {
	background-color: var(--light-color);
	border: 1px solid var(--dark-color);
	border-radius: 10px;
	padding: 20px;
	max-width: 600px;
	margin: 40px auto;
	box-shadow: 0 2px 4px var(--dark-color);
	text-align: center;
	color: black;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
}

.endGame {
	background-color: var(--light-color);
	border: 1px solid var(--dark-color);
	border-radius: 10px;
	padding: 20px;
	max-width: 600px;
	margin: 40px auto;
	box-shadow: 0 2px 4px var(--dark-color);
	text-align: center;
	color: black;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
}

/* Intruções */

.bg-intructions {
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100dvw;
	height: 100dvh;
	overflow: hidden;
	background-color: rgba(var(--second-color-rgb), .6);
	transition: top 0.8s ease-in-out;
	overflow: hidden;
}

.close {
	top: -100%;
	transition: top 0.8s ease-in-out;
}

.game-instructions {
	position: relative;
	background-color: var(--light-color);
	border: 1px solid var(--dark-color);
	border-radius: 10px;
	padding: 20px;
	width: 600px;
	box-shadow: 0 2px 4px var(--dark-color);
	text-align: center;
	color: white;

	h3 {
		margin-bottom: 1rem;
	}

	p {
		align-content: center;
		margin: 16px;
	}

	p:last-child {
		margin-bottom: 0;
	}
}

.letter {
	display: inline-block;
	width: 50px;
	height: 50px;
	align-content: center;
	font-size: 2rem;
	font-weight: bold;
	text-transform: uppercase;
	border: 2px solid var(--dark-color);
	background-color: var(--second-color);
}

.right {
	background-color: var(--right);
}

.wrong {
	background-color: var(--wrong);
}

.alone {
	margin: 0 4px;
}

.x_icon{
	position: absolute;
	top: 0%;
	right: 0%;
	transform: translate(50%, -50%);
	display: block;
	height: 40px;
	width: 40px;
	align-content: center;
	background-color: var(--dark-color);
	border-radius: 50%;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
}
