.header {
    position: relative;
    justify-content: end;

    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.navigationMenu a { 
    text-decoration: none;
    border: 1px solid #872d72; 
    padding: 9px;
    width: 120px;
    font-size: 16px;
    border-radius: 4px;

    &:hover {
        background-color: var(--second-color);
        transition: 1s;
    }
}

#game {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.tableGame {
    td {
        font-size: 30px;
        color: white;
    }

    td.cell {
        border-style: solid; 
        text-align: center;
        font-weight: bold;
        vertical-align: center;
        height: 50px;
        width: 50px;
    }
}

.characterEmpty,
.key.characterEmpty {
    background-color: var(--empty-letter);
    border-color: var(--empty-letter);
} 

.characterCorrect,
.key.characterCorrect {
    background: var(--correct-letter);
    border-color: var(--correct-letter);
}

.characterWrongPosition,
.key.characterWrongPositio {
    background: var(--wrongPosition-letter);
    border-color: var(--wrongPosition-letter);
}

#keyboard {
    width: 600px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.row {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    
    &:last-child { margin-bottom: 0; }
}

.key {
    width: 40px;
    height: 40px;
    margin: 2px;
    color: white;
    background-color: var(--dark-color);
    font-size: 20px;
    cursor: pointer;
    border: none;
}

.key:hover {
    background-color: var(--second-color);
    transition: .5s;
}

.special {
    width: 80px;
}

.key:active {
    background-color: #888;
}

.tabelaJogo {
    border-collapse: collapse;
    width: 100%;
}

.cell {
    border: 1px solid white;  
    text-align: center;
    padding: 5px;
}

.cellInput {
    background-color: transparent;
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    box-sizing: border-box; 
    outline: none;
    font-family: 'Arial', serif;
    color: white;
    text-transform: uppercase;
} 

.cellInput:focus {
    background-color: var(--second-color);
   
}