:root {
    --letter-height: 34px;
}

/* Estilo para WebKit */
::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--dark-color);
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--light-color);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--second-color);
  }  

.game-instructions {
	background-color: var(--light-color); 
	border: 1px solid var(--light-color); 
	border-radius: 10px; 
	padding: 20px; 
	max-width: 600px; 
	margin: 40px auto;
	box-shadow: 0 2px 4px var(--dark-color); 
	text-align: center;

	h3 + p {
		margin-top: 20px;
	}

	p {
		margin: 5px 0; 
	}

	p + p {
		margin-top: 20px;
	}

    p:has(span) {
        display: flex;
        justify-content: center;
    }
}

.letter {
    display: inline-flex;
    height: var(--letter-height);
    width: var(--letter-height);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    border: var(--dark-color) solid 1px;
    background-color: var(--second-color);
    font-weight: bold;
}

.letter.right {
    background-color: var(--correct-letter);
}

.sobre {
	max-width: 30%;
	height: auto;
	margin: 20px auto;
}

.sobre-icon {
	width: 6%;
	height: auto;
	vertical-align: middle;
}

.developers {
	text-align: center;
	margin: 40px 0;
}

.developer-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

.developer {
	text-align: center;
	max-width: 200px;

	img {
		width: 150px; 
		height: auto;
	}
}

.institution {
	text-align: center;
	margin-top: 40px;

	img {
		max-width: 15%;
		height: auto;
	}
}