:root {
	--primary-color: #
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: #333;
	margin-top: 0px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #872d62;
}

.tituloJogo{
color: purple;
background-color: white; 
	/* so um teste */
font-weight: bold;
justify-items: center;
font-family: verdana; 
}

.menu:visited{
	color: white;
}

.sectionMenu .menu{
	color: white;
}

.sectionMenu a { 
	/* TEM Q POR UM EM BAIXO DO OTO */
	display: inline-block;
	text-decoration: none;
	border: 1px solid #872d72; 
	padding: 4px;
	background: #872d72;
  padding: 15px 15px;
  font-size: 12.5px;
  border-radius: 4px;
}

.menuHomePage a {
	display: inline-block;
	align-items: center;
	text-decoration: none;
	border: 1px solid #872d72; 
	padding: 10px 15px;
	background: #872d72;
  font-size: 12.5px;
  border-radius: 4px;
}

.menu {
	background-color: #651142;
}
img.sobre {
	max-width:25%;
	max-height:25%;
}

img.logo {
	width: 200px;
}

.bloco{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	margin-top: 50px;
} 

.bloco > figure {
	grid-area: 1 / 1 / 3 / 2;
	justify-self: right;
	margin-right: 10px;
	
}

.bloco > .menu {
	display: flex; 	
}

.header{
		background-color: #651142;
    padding: 10px;
    display: flex;
    justify-content: space-between;
		text-align: center;
    align-items: center;
    color: white; 
		margin-top: 0px;
		position: relative;
}

.logoHeader {
	flex-grow: 1; 
	text-align: center;
}

.logoHeader h1 {
	font-size: 24px;
	margin: 0 auto; 
}

.sectionMenu {
	display: flex;
	gap: 10px; 
	margin-left: auto; 
}

.rodape {
  /* background: #a95486; */
  background: #872d62;
  width: 100%;
	color: #651142;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
	position: relative;
	position: absolute;
  bottom: 0;
  left: 0;
	padding:6.5px;
	font-size: 10px;
}